.wood_thumbnail {
  z-index: 2;
  scale: 1;
  transition: 200ms ease-in-out
}

.wood_thumbnail:hover {
  scale: 1.03;
  box-shadow: 1px 1px 5px 0.02px rgba(0, 0, 0, 0.43);
  transition-delay: 400ms;
  z-index: 5;
}