# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
**/dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# /sites/art/public/photography/
# /sites/art/public/film/
/sites/art/public/woodworking/
/sites/art/public/photoScan.js
/sites/art/public/filmScan.js
/snapshots

# TanStack Router
**/routeTree.gen.ts
.tanstack/