.film-carousel-whole {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.poster {
  scale: 1;
  z-index: 2;
  transition: 200ms ease-in-out;
  /* max-width: 200px; */
  height: auto;
}

.poster:hover {
  scale: 1.05;
  transition-delay: 400ms;
  box-shadow: 1px 1px 5px 0.02px rgba(0, 0, 0, 0.43);
}

.info-slide {
  overflow: scroll;
  line-height: 1.8;
}

/* LANDING PAGE */
.film-landing-background,
.film-landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.film-landing-overlay {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.35) 30%,
    rgba(0, 0, 0, 0)
  );
}

.film-landing-viewButton,
.film-landing-viewButton-icon {
  transition: 200ms ease-out;
}

.film-landing-viewButton:hover {
  background-color: white;
  color: rgba(0, 0, 0, 50);
}

.film-landing-viewButton:hover .film-landing-viewButton-icon {
  scale: 1.05;
}

.film-landing-backArrow-wrapper-1 {
  position: absolute;
  top: 2rem;
  z-index: 2;
  width: 100%;
  color: white;
}

.film-landing-backArrow {
  position: relative;
  transition: 200ms ease-out;
}

.film-landing-backArrow:hover {
  scale: 1.05;
  text-decoration: underline;
}

.film-landing-viewButton {
  position: absolute;
  top: 40%;
  z-index: 2;
  /* -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.1); */
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 1rem;
  color: white;
}

.film-landing-info-all {
  display: flex;
  position: absolute;
  bottom: 0%;
  justify-content: start;
  z-index: 2;
  width: 100%;
}

.film-landing-info {
  position: relative;
  bottom: 5%;
  /* left: 0%; */
  flex-basis: 100%;
  z-index: 3;
  width: 100%;
  min-width: 10rem;
  color: white;
}

.film-landing-synopsis {
  flex-basis: 40%;
  z-index: 2;
  padding: 1rem;
  max-width: 48rem;
  height: auto;
  color: white;
}

/* Responsive based on width */
@media (min-width: 0rem) {
  .film-carousel-whole {
    width: 100%;
    height: 300px;
  }
  .poster {
    max-width: 240px;
  }
}

@media (min-width: 20rem) {
  .film-carousel-whole {
    width: 100%;
    height: 400px;
  }

  .film-carousel-btn {
    font-size: 1.2rem;
  }

  .poster {
    max-width: 240px;
  }
}

@media (min-width: 30rem) {
  .film-carousel-whole {
    width: 450px;
    height: 450px;
  }

  .film-carousel-btn {
    font-size: 1.5rem;
  }

  .poster {
    max-width: 300px;
  }
}

@media (min-width: 40rem) {
  .film-carousel-whole {
    width: 520px;
    height: 520px;
  }

  .film-carousel-btn {
    font-size: 2rem;
  }

  .poster {
    max-width: 360px;
  }
}

/* Non-mobile break point */
@media (min-width: 48rem) {
  .film-carousel-whole {
    width: 600px;
    height: 600px;
  }

  .film-carousel-btn {
    font-size: 2.5rem;
  }

  .poster {
    max-width: 400px;
  }

  .film-landing-info {
    flex-basis: 40%;
    padding: 1rem;
    max-width: 48rem;
    height: auto;
  }

  .film-landing-info-all {
    bottom: 8%;
    width: 80%;
  }

  .film-landing-backArrow-wrapper-1 {
    top: 5rem;
    width: 80%;
  }
}

@media (min-width: 64rem) {
}

@media (min-width: 80rem) {
  .film-carousel-btn {
    font-size: 3rem;
  }
}
