/* LANDING PAGE */
.film-landing-background,
.film-landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.film-landing-overlay {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.35) 30%,
    rgba(0, 0, 0, 0)
  );
}

.film-landing-viewButton,
.film-landing-viewButton-icon {
  transition: 200ms ease-out;
}

.film-landing-viewButton:hover .film-landing-viewButton-icon {
  scale: 1.05;
}

.film-landing-backArrow-wrapper-1 {
  position: absolute;
  top: 2rem;
  z-index: 2;
  width: 100%;
  color: white;
}

.film-landing-backArrow,
.film-modal-back,
.film-modal-close {
  position: relative;
  transition: 200ms ease-out;
}

.film-landing-backArrow:hover,
.film-modal-back:hover,
.film-modal-close:hover {
  scale: 1.05;
  text-decoration: underline;
}

.film-landing-viewButton {
  position: absolute;
  top: 40%;
  z-index: 2;
}

.film-landing-info-all {
  display: flex;
  position: absolute;
  bottom: 0%;
  justify-content: start;
  z-index: 2;
  width: 100%;
}

.film-landing-info {
  position: relative;
  bottom: 5%;
  z-index: 3;
  width: 100%;
  min-width: 10rem;
  color: white;
}

.film-landing-synopsis-press {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  z-index: 2;
  padding: 1rem;
  max-width: 48rem;
  height: auto;
  color: white;
}

.film-landing-third-column {
  display: flex;
  flex-basis: 35%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.film-landing-availability {
  z-index: 2;
  padding: 1rem;
  max-width: 20rem;
  height: auto;
  color: white;
}

.film-landing-press {
  margin-left: 1rem;
}

.film-landing-press:hover {
  scale: 1.05;
  text-decoration: underline;
}

.film-landing-logo {
  max-width: 9rem;
}

/* Non-mobile break point */
@media (min-width: 48rem) {
  .film-landing-info {
    flex-basis: 35%;
    padding: 1rem;
    max-width: 48rem;
    height: auto;
  }

  .film-landing-info-all {
    bottom: 8%;
    width: 80%;
  }

  .film-landing-backArrow-wrapper-1 {
    top: 5rem;
    width: 80%;
  }
}
