@import 'tailwindcss';

@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
  --slider-padding: 1.5rem;
}

.thumbnail-title-year {
  display: flex;
  position: absolute;
  bottom: 0%;
  left: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 80%;
  height: 35%;
  /* border-width: 2px;
  border-color: blue; */
  color: white;
}

.thumbnail-title {
  position: absolute;
  bottom: 25%;
  left: 7%;
  font-weight: 1000;
  line-height: 0.9;
  text-align: left;
}

.thumbnail-year {
  font-weight: 700;
}

.thumbnail-title,
.thumbnail-year,
.thumbnail-description {
  color: rgb(250, 250, 250);
}

/* HIGHTLIGHTS CAROUSEL */
.carousel-whole {
  display: flex;
  position: relative;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: orange;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.carousel-btn-bg {
  position: absolute;
  top: 0%;
  z-index: 2;
  /* border-width: 4px;
  border-color: rgb(231, 15, 198);
  border-style: solid; */
  transition: background-color 200ms ease-in-out;
  background-color: rgb(250, 250, 250);
  width: var(--slider-padding);
  height: 100%;
}

.carousel-whole:hover .carousel-btn-bg {
  background-color: rgba(250, 250, 250, 0.4);
}

.carousel-btn {
  font-size: 1rem;
}

.btn-bg-left,
.carousel-btn-left {
  left: 0%;
}

.btn-bg-right,
.carousel-btn-right {
  right: 0%;
}

.thumbnail-img,
.thumbnail-img-clone {
  display: inline-block;
  /* make sure image is cropped, not stretched */
  opacity: 1;
  z-index: 2;
  aspect-ratio: 3/2;
  width: 100%;
  /* make sure ratio is uniform */
  object-fit: cover;
}

.thumbnail-flex-item {
  position: relative;
  flex: none;
  padding: 0.2rem;
  text-align: center;
  /* background-color: white; */
}

.thumbnail-box {
  scale: 1;
  z-index: 2;
  transition: 200ms ease-in-out;
}

.thumbnail-box:hover {
  scale: 1.05;
  transition-delay: 400ms;
  box-shadow: 1px 1px 5px 0.02px rgba(0, 0, 0, 0.43);
}

@keyframes slidedown {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.thumbnail-description {
  position: relative;
  z-index: -1;
  animation-duration: 150ms;
  animation-timing-function: ease-in;
  /* border-width: 4px;
  border-color: blue; */

  animation-name: slidedown;
  background-color: #6d6d6d;
  padding: 1rem;
  width: 100%;
  text-align: left;
}

/* LANDING PAGE */
.landing-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: inherit;
  height: auto;
}

.landing-backArrow-wrapper-1 {
  position: absolute;
  top: 5rem;
  z-index: 2;
  border-width: 2px;
  border-color: blue;
  width: 80%;
  color: white;
}

.landing-backArrow {
  /* position: absolute; */
  /* flex-grow: 1; */
  /* flex-basis: 10%; */
  position: relative;
  border-width: 2px;
  border-color: orange;
  width: 5rem;
}

.landing-backArrow-link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing-viewButton {
  position: absolute;
  top: 45%;
  z-index: 2;
  border-width: 2px;
  border-color: white;
  border-radius: 1rem;
  padding: 0.4rem;
  color: white;
  /* margin: 1rem; */
}

.landing-info-all {
  display: flex;
  position: absolute;
  bottom: 10rem;
  justify-content: start;
  z-index: 2;
  border-width: 2px;
  border-color: blue;
  width: 80%;
}

.landing-info {
  flex-basis: 50%;
  /* position: absolute; */
  z-index: 2;
  border-width: 2px;
  border-color: orange;
  height: auto;

  color: white;
}

.landing-info-empty {
  flex-basis: 50%;
  z-index: 2;
  border-width: 2px;
  border-color: orange;
}

.landing-info-title {
}

.landing-footer {
  display: flex;
  position: absolute;
  /* left: 10rem; */
  bottom: 5rem;
  z-index: 2;

  border-width: 2px;
  border-color: blue;
  width: 80%;

  color: white;
}

.landing-footer-gmail {
  flex-grow: 1;
  /* justify-self: flex-start; */
  border-width: 1px;
  border-color: orange;
}

.landing-footer-insta {
  flex-grow: 1;
  border-width: 1px;
  border-color: orange;
  /* justify-self: flex-start; */
}

.landing-footer-git {
  flex-grow: 1;
  border-width: 1px;
  border-color: orange;
  /* justify-self: flex-start; */
}

.landing-footer-empty {
  flex-grow: 30;
  border-width: 1px;
  border-color: orange;
  /* justify-self: flex-start; */
}

.landing-footer-copyright {
  flex-grow: 1;
  border-width: 1px;
  border-color: orange;
  /* justify-self: flex-end; */
}

/* w-screen h-auto absolute z-1 top-0 left-0 */

/* SLIDES VIEW MODE CONTENT */
@media (max-height: 28.125rem) {
  .modal-topRightNav {
    gap: 0.3125rem;
  }
}

/* GALLERY VIEW MODE CONTENT */
.gallery-all {
  display: grid;
  grid-template-columns: repeat(3, minmax(3.125rem, 37.5rem));
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

@media (max-height: 75rem) {
  .gallery-all {
    max-height: 56.25rem;
  }
}

.gallery-each {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.gallery-each:hover {
  opacity: 0.75;
}

/* Responsive based on width */
@media (min-width: 20rem) {
  :root {
    --slider-padding: 2rem;
  }

  .carousel-btn {
    font-size: 1.2rem;
  }

  /* .gallery-all {
    gap: 5px;
  } */

  .thumbnail-flex-item {
    padding: 0.2rem;
  }
}

@media (min-width: 30rem) {
  :root {
    --slider-padding: 2.5rem;
  }

  .carousel-btn {
    font-size: 1.5rem;
  }

  /* .gallery-all {
    gap: 5px;
  } */

  .thumbnail-flex-item {
    padding: 0.5rem;
  }
}

@media (min-width: 40rem) {
  :root {
    --slider-padding: 3rem;
  }

  .carousel-btn {
    font-size: 2rem;
  }

  .thumbnail-flex-item {
    padding: 1rem;
  }
}

@media (min-width: 48rem) {
  :root {
    --slider-padding: 4rem;
  }

  .carousel-btn {
    font-size: 2.5rem;
  }

  .thumbnail-flex-item {
    padding: 1.5rem;
  }
}

@media (min-width: 64rem) {
  .thumbnail-flex-item {
    padding: 1.2rem;
  }
}

@media (min-width: 80rem) {
  :root {
    --slider-padding: 5rem;
  }

  .carousel-btn {
    font-size: 3rem;
  }

  .thumbnail-flex-item {
    padding: 1.8rem;
  }
}

@media (min-width: 96rem) {
  :root {
    --slider-padding: 6rem;
  }

  .thumbnail-flex-item {
    padding: 1.5rem;
  }
}

@media (min-width: 120rem) {
  :root {
    --slider-padding: 7rem;
  }

  .thumbnail-flex-item {
    padding: 2rem;
  }
}
