@import "tailwindcss";

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --slider-padding: 2rem;
}

.thumbnail-img {
  inline-size: 100%;
  /* make sure ratio is uniform */
  aspect-ratio: 3/2;
  /* make sure image is cropped, not stretched */
  object-fit: cover; 
  opacity: 1;
  transition: opacity 150ms linear;
}