@import "tailwindcss";

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --slider-padding: 2.5rem;
  --images-per-slide: 3;
}

.carousel-whole {
  height: 50vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
}

.carousel-whole:hover {
  height: 60vh;
}

.thumbnail-img, .thumbnail-img-clone {
  display: inline-block;

  width: 100%; 
  aspect-ratio: 3/2;   /* make sure ratio is uniform */
  object-fit: cover;   /* make sure image is cropped, not stretched */
  opacity: 1;

  z-index: 10;
}

.thumbnail-flex-item {

  /* fits all items into flex container space 
  but don't allow them to shrink */
  flex: none;
  position: relative;
  text-align: center; /* to center img element */

  scale: 1;
  height: 100%;
  transition: 500ms ease-in-out;

  /* border-width: 1px;
  border-color: black;
  border-style: solid; */
  padding: 0.5rem;

  /* overflow-x: hidden;
  overflow-y: visible; */

  background-color: white;
}

.thumbnail-flex-item:hover {
  z-index: 20;
  scale: 1.04;
  height: 115%;
  box-shadow: 1px 1px 5px 0.02px rgba(0, 0, 0, 0.43);
}

.thumbnail-flex-item:hover .thumbnail-description{
  z-index: 20;
}

.thumbnail-description {

  position: absolute;
  bottom: 0%;
  left: 0%;
  
  width: 100%;
  z-index: -1;

  padding: 0.5rem;
  text-align: left;
  color: black;
  /* border-width: 2px;
  border-color: black;
  border-style: solid; */
/* 
  animation-name: slidedown;
  animation-duration: 1s; */
}

.carousel-btn {
  /* flex: none; */
  width: var(--slider-padding);
  /* height: 100%; */

  z-index: 10;

  background-color: rgb(255, 255, 255);
  font-size: 3rem;
  transition: background-color 200ms ease-out;
}

.carousel-whole:hover .carousel-btn {
  background-color: rgba(255, 255, 255, 0.5);
}


/* SLIDES VIEW MODE CONTENT */
.slides-btn {
  position: absolute;
  display: block;

  font-size: 3vw;
}

.left {
  top: 45%;
  left: 0%;
}

.right {
  top: 45%;
  right: 0%;
}

.counter {
  top: 30%;
  right: 0%;
  font-size: 1.5vw;
}

/* GALLERY VIEW MODE CONTENT */
.gallery-each {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;

  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.gallery-each:hover {
  opacity: 0.85;
}

/* SHARED BUTTONS FOR SLIDES AND GALLERY VIEW MODE */
.modal-btn {
  position: absolute;
  display: block;

  right: 0%; 
  
  font-size: 2.5vw;
}

.close {
  top: 0%;
}

.view {
  top: 10%;
}

.bg {
  top: 20%;
}
