@import "tailwindcss";

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --slider-padding: 2.5rem;
}

.carousel-whole {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumbnail-img, .thumbnail-img-clone {
  aspect-ratio: 3/2;   /* make sure ratio is uniform */
  object-fit: cover;   /* make sure image is cropped, not stretched */
  width: 100%; /* fills container */
  opacity: 1;
  /* transition: opacity 150ms linear; */
  padding: 0.25rem;
  margin: 0.25rem;
  align-content: center;
  justify-content: center;
}

.thumbnail-div:hover .thumbnail-img {
  transform: scale(1.015);
  opacity: 0.9;
  transition: transform 200ms ease-in-out
  /* box-shadow: 3px 3px 3px -3px; */
}

.carousel-btn {
  width: var(--slider-padding);
  height: 100%;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-size: 3rem;
  transition: background-color 200ms ease-out;

  /* display: flex; */
  /* flex-grow: 1; */
  /* border: none; */
}

.carousel-whole:hover .carousel-btn {
  background-color: rgba(255, 255, 255, 0.5);
}

/* .slides-each {
  display: none;
  position: absolute;

  width: 70vw;
  top: 0%;
  left: 11%
}

.slides-each .displaySlide {
  display: block;
} */
